.Navbar{
    display: flex;
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.Logo{
    width: fit-content;
    flex: 2 1 auto;
}
@media screen and (max-width:350px) {
    .Logo{
        display: none;
    }
    .NavButtons{
        width: 100% !important;
    }
}
.NavButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.RegisterButton{
    border: none;
    outline: none;
    background-color: var(--blue-dark);
    color: var(--gray0);
    padding: 7px 5px;
    border-radius: 5px;
    transition: ease-in-out 0.2s background-color,ease-in-out 0.2s box-shadow;
}
.RegisterButton:hover{
    background-color: blue;
    -webkit-box-shadow: 2px 18px 43px -11px rgba(0,0,0,0.9);
-moz-box-shadow: 2px 18px 43px -11px rgba(0,0,0,0.9);
box-shadow: 2px 18px 43px -11px rgba(0,0,0,0.9);

    transition: ease-in-out 0.2s background-color,ease-in-out 0.2s box-shadow ;
}
.RegisterBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.LoginButton{
    cursor: pointer;
}